.html{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 21px;
  font-size: 14px;
}

.contact{
  border: solid;
  border-color: #5F5F5F;
  border-radius: 10px;
  background-color: #5F5F5F;
  color: white;
  width: 400px;
  height: 600px;
}
.profile-image{
  text-align:center;
}
.name{
  text-align: center;
}
.list{
  list-style-type: none;
}
